.test{
	background-color: blueviolet;
}
.lead{
	background-color: blueviolet;
}
body{
	background-color: rgb(182, 250, 241);
	color: white;
}
ul{
	color: black;
	background-color: rgb(255, 217, 0);
}
p{
	color: black;
}
.container{
	background-color: blueviolet;
}